.customer_data_container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customer_data_container .customer_data {
    width: 48%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 0px 20px #80808066;
    border-radius: 8px;
}


.customer_data_container .customer_data p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 12px;
    margin: 8px auto;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
    position: relative;
    color: #666;
}

.customer_data_container .customer_data span {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 12px;
    text-transform: capitalize;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.approve_customer-btn {
    width: 100%;
    height: 30px;
    background-color: rgb(18, 140, 120, .76);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}


.approve_customer-btn:hover {
    background-color: rgb(18, 140, 120, .76);
    opacity: 0.8;
}

.delete_customer-btn {
    margin-top: 12px;
    width: 100%;
    height: 30px;
    background-color: red;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.delete_customer-btn:hover {
    background-color: red;
    opacity: 0.8;
}

.update_customer_form {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 0px 20px #80808066;
    border-radius: 8px;
}

.update_customer_form:hover {
    box-shadow: 0px 0px 20px #80808066;
}

.pending {
    color: red;
}

.approved {
    color: green;
}

.rejected {
    color: red;
}

.recieved-btn {
    background: transparent;
    width: 60px;
    height: 30px;
    color: red;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.recieved-btn:hover {
    background: transparent;
    opacity: 0.8;
    color: green;
}

@media screen and (max-width: 50rem) {
    .customer_data_container {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .customer_data_container .customer_data {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
        box-shadow: 0px 0px 20px #80808066;
        border-radius: 8px;
    }
    
    .customer_data_container .customer_data p,
    .customer_data_container .customer_data span {
        font-size: 11px;
        font-weight: bold;
    }

}