.agents_stock {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-height: 500px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    width: 90%;
    margin-top: 5rem;
    margin-left: 6rem;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border-left: 1px solid #80808066;
    border-right: 1px solid #80808066;
}

.stock-table th, .stock-table td {
    text-align: left;
    border-bottom: 1px solid #80808066;
}

.stock-table th {
    background-color: #878787;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px;
    position: sticky;
    top: 0px;
    color: #ffffff;
}

.stock-table td {
    font-size: 12px;
    padding: 5px;
}


.stock-table tr:hover {
    background-color: rgb(18, 54, 59, .65);
    color: #ffffff;
}

caption {
    background-color: hwb(0 50% 50%);
    text-align: center;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: -4rem;
    color: #ffffff;
}


td > a > i, .data-card a > i{
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .3s ease-out;
}

td > a > i:hover, .data-card a > i:hover {
    transform: scale(1.5);
    cursor: pointer;
    color: #ffffff;
}

#checkbox[type="checkbox"] {
    display: none;
  }

.agents_stock .checkbox, .agents_stock .Notcheckbox,
.data-card .checkbox, .data-card .Notcheckbox{
    position: relative;
    cursor: pointer;
    z-index: -5;
  }

.agents_stock .checkbox::after,
.data-card .checkbox::after {
    content: "â";
    font-size: 16px;
    font-weight: bold;
    color: #32e010;
    opacity: 0;
}

.agents_stock .Notcheckbox::after,
.data-card .Notcheckbox::after {
    content: "â";
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    opacity: 0;
}

.agents_stock #checkbox[type="checkbox"]:checked + .checkbox::after,
.agents_stock #checkbox[type="checkbox"]:checked + .Notcheckbox::after,
.data-card #checkbox[type="checkbox"]:checked + .checkbox::after,
.data-card #checkbox[type="checkbox"]:checked + .Notcheckbox::after {
    opacity: 1;
}

@media screen and (max-width: 50rem) {
    .agents_stock {
        display: none;
    }
}