.product-view {
    width: 300px;
    height: 300px;
}

.search_customers {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    border: 1px solid #80808066;
    border-radius: 5px;
    padding: 5px;
}

.about-header {
    background-color: rgb(128, 128, 128, .75);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    height: 150px;
}
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    top: -50px;
}
.content-container h1 {
    font-size: 2rem;
}
.content-container p {
    font-size: 1.1rem;
    padding: 1rem 0;
    font-weight: normal;
}
.content-container a {
    text-decoration: none;
    color: #007BFF;
}
.content-container a:hover {
    text-decoration: underline;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.contact-form label {
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0056b3;
}

.question {
    font-weight: bold;
}

.answer {
    font-weight: normal;
}

.service-list {
    list-style: disc;
    padding-left: 20px;
}

.content-product {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    top: -50px;
}

.content-product .product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.content-product .product-image {
    width: 200px;
    height: 200px;
    background-color: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 20px;
}
.content-product .product-details {
    flex-grow: 1;
}
.content-product .product-details h3 {
    font-size: 1.3rem;
}
.content-product .product-details p {
    font-size: 1.1rem;
}

@media screen and (max-width: 50rem) {
    .agent-container {
        margin-left: 0;
    }
}