{% extends 'users/staff_sites/staff.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <h1 class="text-center">Add To Stock</h1>
    <form action="" method="post" class="shadow-lg p-3 mb-5 bg-body rounded">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}