{% extends 'users/staff_sites/staff.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
{% endblock %}
{% block content %}
<style>
  .content_container_data {
    overflow-y: scroll;
  }

  .content_container_data > span.not_paid {
    margin-left: 50px;
  }

  .content_container_data > button {
    width: 25%;
  }

  @media screen and (max-width: 768px){
    .content_container_data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .content_container_data > button,
    .content_container_data > span {
      width: 100%;
    }

    .content_container_data > span.not_paid {
      margin-left: 0;
    }

    .text_time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
  <div class="container">
    {% bootstrap_messages %}
    <h1 class="text-center fw-bold">{{ mbo.username }}'s Operations</h1>
    <hr>
  </div>
  <div class="container bg-info">
    <p class="text-center fw-bold">Please Note that all the buttons bellow have been disabled for a review and will be operational soon</p>
  </div>
  <section class="charts_by_chartjs">
    <div class="row gy-3">
        <div class="col-md-6 col-12">
            <div class="card bg-dark">
                <div class="card-header text-center">
                    <h4 class="fw-bold text-muted">Pending Approval:  {{ pending_contracts.count }}</h4>
                </div>
                <div class="card-body content_container_data" style="height: 400px;">
                  {% for contract in  pending_contracts %}
                    <div class="card bg-secondary">
                      <div class="card-header">
                        <h5 class="fw-bold text-center">Contract NO: {{ contract.contract }} - IMEI: {{ contract.device_imei }}</h5>
                      </div>
                      <div class="card-body content_container_data">
                        <p class="card-text text_time"><strong class="text-info">Created Timestamp:</strong> <span>{{ contract.date_created }}</span></p>
                        {% if contract.pending %}
                        <button type="button" class="btn fw-bold" disabled>Status: <span class="text-danger">Pending</span></button>
                        {% endif %}
                        {% if not contract.paid %}
                          <span type="button" class="btn bg-info fw-bold not_paid"
                          data-bs-toggle="modal" data-bs-target="#viewCreditModal">Not Paid</span>
                        {% else %}
                          <span type="button" class="btn bg-success fw-bold"
                          data-bs-toggle="modal" data-bs-target="#viewCreditModal">Paid</span>
                        {% endif %}
                        <button type="button" class="btn common-bg fw-bold"
                        data-bs-toggle="modal" data-bs-target="#edit{{ contract.id }}">Edit</button>
                        <button type="button" class="btn bg-danger fw-bold"
                        data-bs-toggle="modal" data-bs-target="#delete{{ contract.id }}">Cancel</button>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card bg-dark">
                <div class="card-header text-center">
                    <h4 class="fw-bold text-muted">Daily Approved Contracts: {{ approved_contracts.count }}</h4>
                </div>
                <div class="card-body content_container_data" style="height: 400px;">
                  {% for approved in approved_contracts %}
                    <div class="card bg-secondary">
                      <div class="card-header">
                        <h5 class="fw-bold text-center">Contract NO: {{ approved.contract }} - IMEI: {{ approved.device_imei }}</h5>
                      </div>
                      <div class="card-body content_container_data">
                        <p class="card-text text_time"><strong class="text-info">Approved Timestamp:</strong> <span>{{ approved.date_approved }}</span></p>
                        <button type="button" class="btn fw-bold">Stauts: <span class="text-success">Approved</span></button>
                        {% if not approved.paid %}
                        <span type="button" class="btn bg-info fw-bold"
                        data-bs-toggle="modal" data-bs-target="#pay{{ approved.id }}">mark as paid</span>
                        {% else %}
                          <span type="button" class="btn bg-success fw-bold"
                          data-bs-toggle="modal" data-bs-target="#viewCreditModal">Paid</span>
                        {% endif %}
                        <button type="button" class="btn common-bg fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal" disabled>Edit</button>
                        <button type="button" class="btn bg-danger fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal">Delete</button>

                        <div class="modal fade" id="pay{{ approved.id }}" tabindex="-1" aria-labelledby="pay{{ approved.id }}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="pay{{ approved.id }}Label">Mark as Paid</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p class="text-center">Go ahead and mark this contract as paid</p>
                                <form action="{% url 'contract_payment' %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="contract_id" value="{{ approved.id }}">
                                  <input type="hidden" name="contract" value="{{ approved.contract }}">
                                  <input type="hidden" name="mbo" value="{{ mbo.username }}">
                                  <button type="submit" class="btn bg-success fw-bold w-100">Mark as Paid</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="yearly_analysis">
    <div class="row">
        <div class="col-md-6 col-12 w-100">
            <div class="card bg-dark">
                <div class="card-header text-center">
                    <h4 class="fw-bold text-muted">Active Issues / Unresolved Issues</h4>
                </div>
                <div class="card-body content_container_data" style="height: 400px;">
                  {% for issue in issues %}
                    <div class="card bg-secondary">
                      <div class="card-header">
                        <h5 class="fw-bold text-center">Issue NO: {{ issue.contract }} - IMEI: {{ issue.device_imei }}</h5>
                      </div>
                      <div class="card-body content_container_data">
                        <p class="card-text text_time"><strong class="text-info">Created Timestamp:</strong> <span>{{ issue.date_created }}</span></p>
                        {% if issue.rejected_reason %}
                        <p class="card-text text_time"><strong class="text-info">Reason:</strong> <span>{{ issue.rejected_reason }}</span></p>
                        {% else %}
                        <p class="card-text text_time"><strong class="text-info">Reason:</strong> <span>No Reason provided</span></p>
                        {% endif %}
                        <button type="button" class="btn fw-bold">Stauts: <span class="text-danger">Pending</span></button>

                        <button type="button" class="btn bg-info fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal">View</button>
                        <button type="button" class="btn bg-success fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal">Resolve</button>
                        <button type="button" class="btn bg-danger fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal">Delete</button>
                      </div>
                    </div>
                    <br>
                  {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}