{% extends 'base.html' %}
{% block content %}
<form method="post" action="{% url 'data_search' %}" class="search-form" id="queryset">
    {% csrf_token %}
    <label for="search_query">Search: </label>
    <input type="text"  name="search_query">
    <button type="submit" id="search_query"><i class='bx bx-search'></i></button>
</form>
<section class="agents_stock main-table" id="search_results">
</section>
<section class="agents_stock main-table">
    <table class="stock-table main-stock-table">
        <caption>Main Stock::: <span>Total Items Found: {{ data|length }}</span></caption>
        <thead>
            <tr>
                <th>Agent</th>
                <th>Category</th>
                <th>Name</th>
                <th>Model</th>
                <th>Device imei</th>
                <th>Spec</th>
                <th>In Stock</th>
                <th>Sales type</th>
                <th>Contract no</th>
                <th>Entry date</th>
                <th>Stock out date</th>
                <th>Assigned</th>
                <th>Sold</th>
                <th>paid</th>
                <th>Deploy</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.agent }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone_type }}</td>
                    <td>{{ item.device_imei }}</td>
                    <td>{{ item.spec }}</td>
                    {% if item.in_stock %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    <td>{{ item.sales_type }}</td>
                    <td>{{ item.contract_no }}</td>
                    <td>{{ item.entry_date }}</td>
                    <td>{{ item.stock_out_date }}</td>
                    {% if item.assigned %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    {% if item.sold %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    {% if item.paid %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    {% if item.assigned and not item.sold %}
                        <td>
                            <a href="{% url 'combinedData_collection' data_id=item.id %}"><i class='bx bx-chevrons-right'></i></a>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>   
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}