{% extends 'base.html' %}
{% load plus_r %}
{%load static%}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'scripts/staff_lib/approve.js' %}" defer></script>
    <script src="{% static 'scripts/staff_lib/new_entries.js' %}" defer></script>
    <script src="{% static 'scripts/staff_lib/get_total.js' %}" defer></script>
    <script src="{% static 'scripts/staff_lib/total_rejected.js' %}" defer></script>
{% endblock %}
{% block content %}
{% bootstrap_messages %}
<a href="{% url 'search_customers' %}" class="search_customers">Search customers</a>
<form method="post" action="{% url 'data_search' %}" class="search-form" id="queryset">
    {% csrf_token %}
    <input type="search" id="search"  name="search_query" placeholder="Device imei or contract number">
    <button type="submit" id="search_query"><i class='bx bx-search'></i></button>
</form>
<br><br><br>
<div class="container-md shadow-lg p-3 mb-5 bg-body rounded rounded-3">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-sm-6">
              <div class="card border-primary">
                <div class="card-body d-flex">
                    <button type="button" class="btn btn-primary" disabled>
                        New Entries <span class="badge bg-secondary new-entries-notice">0</span>
                    </button>
                    <a href="{% url 'get_new_entries' %}" class="btn btn-primary ms-auto p-2 bd-highlight">Upload</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card border-info">
                <div class="card-body d-flex">
                    <button type="button" class="btn btn-info" disabled>
                        pending <span class="badge bg-secondary total-to-approve">0</span>
                    </button>
                  <a href="{% url 'approve' %}" class="btn btn-info ms-auto p-2 bd-highlight">Approve</a>
                </div>
              </div>
            </div>
        </div>
        <br><br>
        <div class="row gy-5">
            <div class="col-sm-6">
              <div class="card border-success">
                <div class="card-body d-flex">
                    <button type="button" class="btn btn-success" disabled>
                        Approved <span class="badge bg-secondary approved-notice">0</span>
                    </button>
                  <a href="{% url 'get_approved_data' %}" class="btn btn-success ms-auto p-2 bd-highlight">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card border-danger">
                <div class="card-body d-flex">
                    <button type="button" class="btn btn-danger" disabled>
                        Rejected <span class="badge bg-secondary total-rejected">0</span>
                    </button>
                  <a href="{% url 'get_rejected' %}" class="btn btn-danger ms-auto p-2 bd-highlight">View Details</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}