{% extends "base.html" %}
{% block content %}
<section class="profile-container">
    <div class="infor">
        <div class="controls">
            <button type="submit" class="profile-btn"><a href="{% url 'profile' %}">Profile</a></button>
            <button type="submit" class="profile-btn"><a href="{% url 'change_password' %}">Change password</a></button>
        </div>
    </div>
    <div class="form_container">
        <h2>Change Password</h2>
        <form method="post" class="sign_up">
            {% csrf_token %}
            {{ password_form.non_field_errors }}
            <div class="form-group">
                <span class="icon"><i class='bx bx-lock-alt'></i></span>
                {{ password_form.old_password }}
                {{ password_form.old_password.errors }}
                <label for="{{ password_form.old_password.id_for_label }}">Current Password</label>
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bx-lock-alt'></i></span>
                {{ password_form.new_password1 }}
                {{ password_form.new_password1.errors }}
                <label for="{{ password_form.new_password1.id_for_label }}">New Password</label>
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bx-lock-alt'></i></span>
                {{ password_form.new_password2 }}
                {{ password_form.new_password2.errors }}
            <label for="{{ password_form.new_password2.id_for_label }}">Confirm New Password</label>
            </div>

            <button type="submit" class="btn-primary">Change Password</button>
        </form>
    </div>
</section>
{% endblock %}
