{% extends 'users/airtel_sites/dashboard.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
<link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
<script src="{% static 'scripts/airtel_data_accounts.js' %}" defer></script>
{% endblock %}
{% block content %}
{% bootstrap_messages %}
<div class="container d-flex">
    <form action="" method="post" class="d-flex position-relative search-form text-light">
        {% csrf_token %}
        <input type="search" id="search_data" name="search_query" class="form-control me-2"
        placeholder="filter the specific promoter here" aria-label="Search" aria-describedby="search-addon"
        list="promoters">

        <datalist id="promoters">
            {% for promoter in promoters %}
                <option value="{{ promoter.first_name }} {{ promoter.last_name }}">
            {% endfor %}
        </datalist>
    </form>
    <button id="defualtfilter" class="btn common-bg">Reset defualt</button>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
    </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-warning" role="status" id="loader">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="container w-100 common-color">
    <div class="pagination container-fluid w-100 d-flex justify-content-center">
        <span class="step-links w-100 d-flex justify-content-around">
        </span>
    </div>
</div>
{% endblock %}