{% extends "base.html" %}
{% block content %}
<section class="sign_up_form">
    <div class="infor">
        <h1>Welcome Our designated agents and users please sign up</h1>
    </div>
    <div class="form_container">
        <h2 class="sign_up_h2">Sign up</h2>
        <form method="post" class="sign_up">
            {% csrf_token %}
            <div class="role">
                <label for="{{ form.role.id_for_label }}">Role:</label>
                {{ form.role }}
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bx-envelope'></i></span>
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bxs-user'></i></span>
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}">Username:</label>
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bx-lock-alt'></i></span>
                {{ form.password1 }}
                <label for="{{ form.password1.id_for_label }}">Password:</label>
            </div>
            <!-- Password2 -->
            <div class="form-group">
                <span class="icon"><i class='bx bx-lock-alt'></i></span>
                {{ form.password2 }}
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            </div>
            <div class="form-group">
                <span class="icon"><i class='bx bx-barcode'></i></span>
                {{ form.agent_code }}
                <label for="{{ form.agent_code.id_for_label }}">Agent Code:</label>
            </div>
            <button type="submit" class="submitBtn">Sign up</button>
        </form>
    </div>
</section>
{% endblock %}