{% extends 'users/agent_sites/agents.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-light">
    <div class="container">
        {% bootstrap_messages %}
        <form action="{% url 'stock_out' %}" method="post" class="d-flex w-100">
            {% csrf_token %}
            <input type="search" class="form-control me-2 bg-secondary" name="search_term" id="search_term" placeholder="Device IMEI, category, model etc">
            <button class="btn search-btn material-icons" type="submit">search</button>
        </form>
        
    </div>
</nav>
<br>
<div class="container filters">
    <form action="{% url 'stock_out' %}" method="post" id="filters_form">
        {% csrf_token %}
        <div>
        {{ form.month }}
        </div>
        <div>
            {{ form.year }}
        </div>
    </form>
</div>
<br>
{% if sales %}
<h1 class="text-center fs-3 fw-bold common-bg header_t" style="padding: 10px;">Stock Out Summary | Total: {{ total }}</h1>
<div class="container">
    <div class="row">
        <div class="table-responsive" style="height: 430px; overflow-y: auto;">
            <table class="table table-dark table-hover table-striped table-bordered
            table-sm">
                <thead style="position: sticky; top: -1px; background-color: azure;">
                    <tr>
                        <th class="col fw-bold">No</th>
                        <th class="col fw-bold">Device Name</th>
                        <th class="col fw-bold">Category</th>
                        <th class="col fw-bold">Device IMEI</th>
                        <th class="col fw-bold">Spec</th>
                        <th class="col fw-bold">Collected On</th>
                        <th class="col fw-bold">Sold On</th>
                        <th class="col fw-bold">Sales Type</th>
                        <th class="col fw-bold">Contract No</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sales %}
                    <tr>
                        {% if item.sales_type == 'Cash' %}
                            <td class="text-danger">{{ forloop.counter }}</td>
                            <td class="text-danger">{{ item.name }}</td>
                            <td class="text-danger">{{ item.category }}</td>
                            <td class="text-danger">{{ item.device_imei }}</td>
                            <td class="text-danger">{{ item.spec }}</td>
                            <td class="text-danger">{{ item.collected_on }}</td>
                            <td class="text-danger">{{ item.stock_out_date }}</td>
                            <td class="text-danger">{{ item.sales_type }}</td>
                            <td class="text-danger"> sold on Cash </td>
                        {% else %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.device_imei }}</td>
                            <td>{{ item.spec }}</td>
                            <td>{{ item.collected_on }}</td>
                            <td>{{ item.stock_out_date }}</td>
                            <td>{{ item.sales_type }}</td>
                            <td>{{ item.contract_no }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-warning text-center" role="alert">
        No sales found
    </div>
</div>
{% endif %}
<style>
    #filters_form {
        display: flex;
        justify-content: center;
    }

    #filters_form div {
        margin: 0 10px;
        width: 100px;
    }

    .header_t {
        margin: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
</style>
<script>
    const month = $('#id_month');
    const year = $('#id_year');
    form = $('#filters_form');

    month.on('change', function() {
        form.submit();
    });

    year.on('change', function() {
        form.submit();
    });
</script>
{% endblock %}