{% extends 'users/agent_sites/agents.html' %}
{% load plus_r %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <form action="{% url 'stock_out' %}" method="post" class="d-flex w-100">
            {% csrf_token %}
            <input type="search" class="form-control me-2" name="search_term" id="search_term" placeholder="Device IMEI, category, model etc">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        {% for item in sales %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-header  text-center">
                    <h4 class="card-title">{{ item.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong class="text-info">Category:</strong> <span>{{ item.category }}</span></p>
                    <p class="card-text"><strong class="text-info">Device IMEI:</strong> <span>{{ item.device_imei }}</span></p>
                    <p class="card-text"><strong class="text-info">Spec:</strong> <span>{{ item.spec }}</span></p>
                    <p class="card-text"><strong class="text-info">Collected On:</strong> <span>{{ item.collected_on }}</span></p>
                    <p class="card-text"><strong class="text-info">Sold On:</strong> <span>{{ item.stock_out_date }}</span></p>
                    {% if item.sales_type == "Loan" %}
                    <p class="card-text"><strong class="text-info">Sales Type:</strong> <span>{{ item.sales_type }}</span></p>
                    <p class="card-text"><strong class="text-info">Contract No:</strong> <span>{{ item.contract_no }}</span></p>
                    {% else %}
                    <p class="card-text"><strong class="text-info">Sales Type:</strong> <span>{{ item.sales_type }}</span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container w-100">
    <div class="pagination container-fluid w-100 d-flex justify-content-center">
        <span class="step-links w-100 d-flex justify-content-around">
            {% if sales.has_previous %}
                <a href="?page=1" class="btn btn-primary">first</a>
                <a href="?page={{ sales.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}
            <span class="current fs-5">
                Page {{ sales.number }} of {{ sales.paginator.num_pages }}.
            </span>
            {% if sales.has_next %}
                <a href="?page={{ sales.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ sales.paginator.num_pages }}" class="btn btn-primary">last</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}