{% extends 'base.html' %}
{% block content %}
<p>Go to: <span><a href="{% url 'in_stock' %}">Stock In</a></span></p>
{% if stock_out %}
{% for item in stock_out %}
<div class="data-card">
    <p>Category: <span>{{ item.category }}</span></p>
    <p>Name: <span>{{ item.name }}</span></p>
    <p>Device Imei: <span>{{ item.device_imei }}</span></p>
    <p>Model: <span>{{ item.phone_type }}</span></p>
    <p>Spec: <span>{{ item.spec }}</span></p>
    <p>Assigned on: <span>{{ item.entry_date }}</span></p>
    <p>Sold on: <span>{{ item.stock_out_date }}</span></p>
    <p>Contract No:
    <span>{% if item.contract_no and item.sales_type == 'Loan' and item.contract_no != '##' %}
        {{ item.contract_no }}
    {% elif not item.contract_no and item.sales_type == 'Cash' or item.contract_no == '##' and item.sales_type == 'Cash' %}
        Not a contract
    {% else %}
            <form action="" method="post" class="contract_number_form">
                {% csrf_token %}
                <input type="text" name="contract_number" placeholder="add contract number" maxlength="9" minlength="9" pattern="[A]{1}[0-9]{8}" required>
                <input type="hidden" name="device_imei" value="{{ item.device_imei }}">
                <button type="submit" class="contract_number-btn" onclick="save_contract_number()">save</button>
            </form>
    {% endif %}</span>
    </p>
</div>
{% endfor %}
{% else %}
<div class="data-card">
    <p>No data available</p>
</div>
{% endif %}
{% endblock %}