{% extends 'users/staff_sites/staff.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <h1 class="text-center fw-bold">Sales Register</h1>
    <p class="text-center fw-bold">Please select the payment method Below</p>
    <hr>
    <form action="" method="post" class="shadow-lg p-3 mb-5 bg-body rounded d-flex justify-content-center">
        {% csrf_token %}
        <input type="hidden" name="payment_method" value="Cash">
        <button type="submit" class="btn common-bg w-25 fw-bold">Cash</button>
    </form>
    <form action="" method="post" class="shadow-lg p-3 mb-5 bg-body rounded d-flex justify-content-center">
        {% csrf_token %}
        <input type="hidden" name="payment_method" value="Loan">
        <button type="submit" class="btn common-bg w-25 fw-bold">Credit</button>
    </form>
</div>
{% endblock %}