{% extends 'base.html' %}
{% load plus_r %}
{% block content %}
<section class="airtel_mifi_agents">
    {% if total_sales_by_agents %}
        {% if airtel_agents %}
            {% for agent in airtel_agents %}
                {% for this_agennt, total in  total_sales_by_agents.items %}
                    <div class="user_cards">
                        <p class="new_sales">New sales <span>{{ total }}</span></p>
                        <p>Agent: <span>{{ agent.username }}</span></p>
                        <p>Email: <span>{{ agent.email }}</span></p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}
</section>
<div class="divider"></div>
{% endblock %}