{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
<p>Go to: <span><a href="{% url 'in_stock' %}">Stock In</a></span></p>
{% if stock_out %}
{% for item in stock_out %}
<div class="data-card">
    <p>Category: <span>{{ item.category }}</span></p>
    <p>Name: <span>{{ item.name }}</span></p>
    <p>Device Imei: <span>{{ item.device_imei }}</span></p>
    <p>Model: <span>{{ item.phone_type }}</span></p>
    <p>Spec: <span>{{ item.spec }}</span></p>
    <p>Assigned on: <span>{{ item.entry_date }}</span></p>
    <p>Sold on: <span>{{ item.stock_out_date }}</span></p>
    <p>Contract No:
    <span>{% if item.contract_no and item.sales_type == 'Loan' and item.contract_no != '##' %}
        {{ item.contract_no }}
    {% elif not item.contract_no and item.sales_type == 'Cash' or item.contract_no == '##' and item.sales_type == 'Cash' %}
        Not a contract
    {% endif %}
    </span>
    </p>
</div>
{% endfor %}
{% else %}
<div class="data-card">
    <p>No data available</p>
</div>
{% endif %}
{% endblock %}