{% extends 'users/main.html' %}
{% block content %}
<section class="agents_stock">
    <form method="get">
        {{ filter.form.user }}
        <input type="submit" />
    </form>
    {% for agent, agent_phones in data_by_agent %}
    <table class="stock-table">
        <caption>{{ agent.user.username }}</caption>
        <thead>
            <tr>
                <th>Model</th>
                <th>Device imei</th>
                <th>In Stock</th>
                <th>Sales type</th>
                <th>Contract number</th>
                <th>Entry date</th>
                <th>Stock out date</th>
                <th>sold</th>
            </tr>
        </thead>
        <tbody>
            {% for phone in agent_phones %}
            <tr>
                <td>{{ phone.phone_type }}</td>
                <td>{{ phone.imei_number }}</td>
                {% if phone.in_stock %}
                    <td>
                        <input type="checkbox" id="checkbox" checked disabled>
                        <label for="checkbox" class="checkbox"></label>
                    </td>
                {% else %}
                    <td>
                        <input type="checkbox" id="checkbox" checked disabled>
                        <label for="checkbox" class="Notcheckbox"></label>
                    </td>
                {% endif %}
                <td>{{ phone.sales_type }}</td>
                <td>{{ phone.contract_number }}</td>
                <td>{{ phone.collection_date }}</td>
                <td>{{ phone.stock_out_date }}</td>
                {% if phone.sold %}
                    <td>
                        <input type="checkbox" id="checkbox" checked disabled>
                        <label for="checkbox" class="checkbox"></label>
                    </td>
                {% else %}
                    <td>
                        <input type="checkbox" id="checkbox" checked disabled>
                        <label for="checkbox" class="Notcheckbox"></label>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</section>
{% endblock %}