{% extends "base.html" %}
{% load static %}
{% block header %}
    <!-- Custom header content for Template 1 -->
    <div class="topbar">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <span class="menu"><i class='bx bx-menu'></i></span>
    </div>
    <nav class="heading">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <ul class="navigation">
            <li><a href="{% url 'home_page' %}"><i class='bx bxs-home'></i> Home</a></li>
            <li><a href="#"><i class='bx bxl-product-hunt'></i> Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'admin:index' %}"><i class='bx bxs-dashboard'></i> Admin Dashboard</a></li>
        </ul>
        <ul class="admin-drop-menu">
            <li><a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
            <li><a href="{% url 'users' %}"><i class='bx bx-group'></i> Users</a></li>
            <li><a href="{% url 'main_storage' %}"><i class='bx bxs-data'></i> Main Stock</a></li>
            <li><a href="#"><i class='bx bxs-data'></i> My Stock</a></li>
            <li><a href="{% url 'agents_and_data' %}"><i class='bx bx-group'></i> Agents</a></li>
            <li><a href="#">Customers</a></li>
        </ul>
        <button type="submit" class="profile">{{ profile }}</button>
        <ul class="mobile-set" style="display: none;">
            <li class="settings"><a href="{% url 'profile' %}"><i class='bx bx-cog' ></i> Settings</a></li>
            <li><a href="{% url 'sign_out' %}"><i class='bx bx-log-out'></i> Sign Out</a></li>
        </ul>
    </nav>
    {% block sidebar %}
    <din class="sidebar-containter">
        <nav>
            <a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i> Dashboard</a>
            <a href="{% url 'users' %}"><i class='bx bx-group'></i> Users</a>
            <a href="{% url 'main_storage' %}"><i class='bx bxs-data'></i> Main Stock</a>
            <a href="#"><i class='bx bxs-data'></i> My Stock</a>
            <a href="{% url 'agents_and_data' %}"><i class='bx bx-group'></i> Agents</a>
            <a href="#">Customers</a>
        </nav>
    </din>
    {% endblock %}
{% endblock %}
{% block content %}
    <!-- Custom content for Template 1 -->
    <div class="main-analysis-container">
        <div class="summary-container">
            <div class="agent_code">
                <p>Agent Sign Up Code:</p>
                <div class="text-to-copy">{{ agent_code }}</div>
                <a href="#"><button class="copy-button">Copy</button></a>
                <a href="{% url 'generate_agent_code' %}"><button type="submit">generate new code</button></a>
            </div>
            <div class="daily_sales">
                <div>
                    <h3>Daily Sales</h3>
                    <a href="/">Full Analysis</a>
                </div>
                <canvas class="daily_sales_chart" aria-label="chart" height="350"></canvas>
            </div>
            <div class="weekly_sales">
                <div>
                    <h3>Weekly Sales</h3>
                    <a href="/">Full Analysis</a>
                </div>
                <canvas class="Weekly_sales_chart" aria-label="chart" height="350"></canvas>
            </div>
            <div class="projects">
                <h3>Weekly Profit</h3>
            </div>
            <div class="w-loss">
                <h3>Weekly Loss</h3>
            </div>
            <div class="projects">
                <h3>Deposites</h3>
            </div>
            <div class="payment">
                <h3>payments Analysis</h3>
            </div>
            <div class="pending">
                <h3>Pending Payments</h3>
            </div>
            <div class="projects">
                <h3>Untraceable Transactions</h3>
            </div>
            <div class="projects">
                <h3>Monthly Profit</h3>
            </div>
            <div class="projects">
                <h3>Monthly Loss</h3>
            </div>
            <div class="projects">
                <h3>Total Active Customers</h3>
            </div>
            <div class="projects">
                <h3>Total loans</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- Custom footer content for Template 1 -->
{% endblock %}
