{% extends 'users/main.html' %}
{% block content %}
<form method="get" action="{% url 'main_storage' %}" class="search_filter">
    <div class="fields"></div>
    {{ search_filter.as_p }}
    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
</form>
<form method="get" class="select_filter">
    <h1>Filters</h1>
    <div class="fields">
        <label for="">{{ filter.form.phone_type.label_tag }}</label>
        {{ filter.form.phone_type }}
    </div>
    <div class="fields">
        <label for="">{{ filter.form.in_stock.label_tag }}</label>
        {{ filter.form.in_stock }}
    </div>
    <div class="fields">
        <label for="">{{ filter.form.assigned.label_tag }}</label>
        {{ filter.form.assigned }}
    </div>
    <div class="fields">
        <label for="">{{ filter.form.entry_date.label_tag }}</label>
        {{ filter.form.entry_date }}
    </div>
    <input type="submit" class="filters-btn"/>
</form>
<section class="agents_stock main-table">
    <table class="stock-table main-stock-table">
        <caption>Main Stock</caption>
        <thead>
            <tr>
                <th>Model</th>
                <th>Device imei</th>
                <th>In Stock</th>
                <th>Sales type</th>
                <th>Contract number</th>
                <th>Entry date</th>
                <th>Stock out date</th>
                <th>Assigned</th>
                <th>Sold</th>
                <th>Dispatch</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.phone_type }}</td>
                    <td>{{ item.device_imei }}</td>
                    {% if item.in_stock %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    <td>{{ item.sales_type }}</td>
                    <td>{{ item.contract_no }}</td>
                    <td>{{ item.entry_date }}</td>
                    <td>{{ item.stock_out_date }}</td>
                    {% if item.assigned %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    {% if item.sold %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="checkbox"></label>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>
                    {% endif %}
                    {% if not item.assigned %}
                        <td>
                            <a href="{% url 'action_on_click' data_id=item.id %}"><i class='bx bx-chevrons-right'></i></a>
                        </td>
                    {% else %}
                        <td>
                            <input type="checkbox" id="checkbox" checked disabled>
                            <label for="checkbox" class="Notcheckbox"></label>
                        </td>   
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% for item in data %}
<div class="data-card">
    <p>Device Imei: <span>{{ item.device_imei }}</span></p>
    <p>Model: <span>{{ item.phone_type }}</span></p>
    <p>In stock:
    {% if item.in_stock %}
        <span>
            <input type="checkbox" id="checkbox" checked disabled>
            <label for="checkbox" class="checkbox"></label>
        </span>
    {% else %}
        <span>
            <input type="checkbox" id="checkbox" checked disabled>
            <label for="checkbox" class="Notcheckbox"></label>
        </span>
    {% endif %}</p>
    <p>Sales type: <span>{{ item.sales_type }}</span></p>
    <p>Contract number: <span>{{ item.contract_no }}</span></p>
    <p>Entry date: <span>{{ item.entry_date }}</span></p>
    <p>Stock out date: <span>{{ item.stock_out_date }}</span></p>
    <p>Assigned:
    {% if item.assigned %}
        <span>
            <input type="checkbox" id="checkbox" checked disabled>
            <label for="checkbox" class="checkbox"></label>
        </span>
    {% else %}
        <span>
            <input type="checkbox" id="checkbox" checked disabled>
            <label for="checkbox" class="Notcheckbox"></label>
        </span>
    {% endif %}</p>
    <p>Dispatch:
        {% if not item.assigned %}
        <span>
            <a href="{% url 'action_on_click' data_id=item.id %}"><i class='bx bx-chevrons-right'></i></a>
        </span>
    {% else %}
        <span>
            <input type="checkbox" id="checkbox" checked disabled>
            <label for="checkbox" class="Notcheckbox"></label>
        </span>   
    {% endif %}
    </p>
</div>
{% endfor %}
{% endblock %}