.mobile-display, .data-card {
    display: none;
}

.mobile-display .agent-data {
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

@media screen and (max-width: 50rem) {

    .mobile-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        box-shadow: 0px 0px 20px #80808066;
        border-radius: 8px;
    }
    
    .mobile-display .in_stock,
    .mobile-display .stock_out,
    .mobile-display .agent-details {
        width: 100%;
        margin: 20px auto;
        padding: 5px;
    }
    
    .mobile-display  h2 {
        width: 100%;
        background-color: #f8f8f8;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        color: #666;
    
    }
    
    .mobile-display p,
    .data-card p,
    .data-card div {
        font-size: 1.2rem;
        margin: 12px auto;
        font-weight: bold;
        padding-left: 12px;
    }

    .agent-details p {
        font-size: 1rem;
        margin: 12px auto;
        font-weight: bold;
        padding-left: 12px;
    }
    
    .mobile-display div, .data-card{
        position: relative;
    }
    
    .mobile-display span,
    .data-card span {
        position: absolute;
        right: 1rem;
    }

    .data-card {
        display: block;
        width: 100%;
        border: 1px solid gray;
        margin: 20px;
        border-radius: 8px;
    }

    .view-button {
        width: 100%;
        background-color: rgb(18, 140, 120, .76);
        color: white;
        border: none;
        padding: 10px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
}
