.heading {
    background: #050c2e;
    color: #fff; /* Text color */
    display: flex;
    padding: 2px 0;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.heading a {
    position: relative;
    font-size: 20px;
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Link text color */
    font-weight: bold;
    margin-right: 30px;
}

.heading a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(10px);
    transition: .3s;
}

.heading a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.heading ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 30px;
    font-size: 2em;
    width: 60px;
    height: 60px;
    color: yellow;
    border: 5px solid yellow;
    border-radius: 50%;
    padding: 5px;
    margin-top: 3px;
    background-color: rgb(97, 198, 165);
}

.profile {
    position: relative;
    border: 5px solid #23435c;
    display: flex;
    align-items: center;
    background: #23435c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile a {
    position: absolute;
    left: 10%;
    font-size: 32px;
}

.settings {
    display: none;
}

.topbar {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 50rem) {
    .heading {
        display: none;
    }

    .dropmenu {
        background: #050c2e;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100vh;
        z-index: 100;
    }

    .dropmenu ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .dropmenu ul > li {
        width: 100%;
        padding: 20px 20px;
    }

    .topbar {
        display: block;
    }

    .heading .logo {
        display: none;
    }

    .topbar .menu {
        display: flex;
        align-items: center;
        font-size: 3rem;
        margin-right: 5px;
        position: absolute;
        right: 0.3rem;
        top: 1rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .topbar .logo {
        margin-left: 5px;
    }

    .topbar .menu:hover {
        background-color: rgb(18, 9, 82);
        opacity: 90%;
    }
}