.code-secton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(43, 43, 43);
    width: 20%;
    padding: 10px;
    margin-left: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-to-copy {
    padding: 5px 12px;
    border: 1px solid;
    background-color: rgb(2, 21, 49);
    overflow-x: scroll;
}

.code-secton p {
    font-size: 1rem;
    font-weight: bold;
}

.code-secton button {
    background-color: rgb(2, 21, 49);
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
    padding: 2px;
}

.sidebar > nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 170px;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-right: 1px solid gray;
}

.sidebar > nav > a {
    text-decoration: none;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid;
}

.sidebar > nav > a:hover {
    background-color: #11363a;
}

@media screen and (max-width: 50rem) {
    .sidebar > nav {
        flex-direction: row;
        width: 100%;
        position: relative;
        font-size: 0.7rem;
    }

    .code-secton {
        width: 100%;
        margin-left: 0px;
    }
}