.controls {
	border-right: 1px solid gainsboro;
}
.controls .profile-btn {
	border-bottom: 1px solid gainsboro;
}

.controls button {
	width: 100%;
	border: none;
	padding: 5px;
	background: transparent;
    font-size: 1.2rem;
    font-weight: bolder;
}

button:hover {
	background-color: #23435c;
}

button:active {
	background-color: #23435c;
}


.controls a {
	text-decoration: none;
	width: 100%;
}

.userprofile h2 {
	width: 100%;
	text-align: center;
	margin: 12px 0px;
}

.userprofile .user-data {
	padding-left: 10px;
	width: 100%;
}

.userprofile .user-data p {
	width: 100%;
	margin-bottom: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userprofile .user-data p span {
	font-weight: bold;
	color: #4accba;
	font-size: 1.5rem;
}

.danger-zone {
	border: 1px solid #780a0a;
	margin-left: 10px;
	margin-top: 15px;
	text-align: center;
}

.danger-zone button {
	width: 100%;
	margin-top: 10px;
	border-radius: 0px;
	background-color: #780a0a;
}

@media screen and (max-width: 50rem) {
	.controls {
		border-right: none;
	}

	.danger-zone {
		margin-left: 0px;
	}
}