{% extends "base.html" %}
{% block header %}
    <!-- Custom header content for Template 1 -->
    <div class="topbar">
        <div class="logo">HE</div>
        <span class="menu"><i class='bx bx-menu'></i></span>
    </div>
    <nav class="heading">
        <div class="logo">HE</div>
        <ul class="navigation">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'admin:index' %}">Admin Dashboard</a></li>
        </ul>
        <ul>
            <li class="profile"><a href="{% url 'profile' %}">{{ profile }}</a></li>
            <li class="settings"><a href="{% url 'profile' %}">Settings</a></li>
            <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Custom content for Template 1 -->
{% endblock %}

{% block footer %}
    <!-- Custom footer content for Template 1 -->
{% endblock %}
