{% extends "base.html" %}
{% load static %}
{% block header %}
    <!-- Custom header content for Template 1 -->
    <div class="topbar">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <span class="menu"><i class='bx bx-menu'></i></span>
    </div>
    <nav class="heading">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <ul class="navigation">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'admin:index' %}">Admin Dashboard</a></li>
        </ul>
        <button type="submit" class="profile">{{ profile }}</button>
        <ul class="mobile-set" style="display: none;">
            <li class="settings"><a href="{% url 'profile' %}">Settings</a></li>
            <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
        </ul>
    </nav>
{% endblock %}
{% block sidebar %}
<din class="sidebar-containter">
    <nav>
        <a href="{% url 'users' %}"><i class='bx bx-group'></i> Users</a>
        <a href="{% url 'main_storage' %}"><i class="fi fi-ts-warehouse-alt"></i> Main Stock</a>
        <a href="{% url 'agents_and_data' %}"><i class='bx bx-group'></i> Agents</a>
        <a href="#"> Customer Data</a>
    </nav>
</din>
{% endblock %}
{% block content %}
    <!-- Custom content for Template 1 -->
    <div class="code-secton">
        <p>Agent Sign Up Code:</p>
        <div class="text-to-copy">{{ agent_code }}</div>
        <button class="copy-button">Copy</button>
        <a href="{% url 'generate_agent_code' %}"><button type="submit">generate code</button></a>
    </div>
{% endblock %}

{% block footer %}
    <!-- Custom footer content for Template 1 -->
{% endblock %}
