{% extends 'users/main.html' %}
{% block content %}
<section class="agents_stock">
    <table class="stock-table main-stock-table">
        <caption>Main Stock</caption>
        <thead>
            <tr>
                <th>Model</th>
                <th>Device imei</th>
                <th>In Stock</th>
                <th>Sales type</th>
                <th>Contract number</th>
                <th>Entry date</th>
                <th>Stock out date</th>
                <th>Assigned</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.phone_type }}</td>
                    <td>{{ item.device_imei }}</td>
                    {% if item.in_stock %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{ item.sales_type }}</td>
                    <td>{{ item.contract_no }}</td>
                    <td>{{ item.entry_date }}</td>
                    <td>{{ item.stock_out_date }}</td>
                    {% if item.assigned %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% for item in data %}
<div class="data-card">
    <p>Device Imei: <span>{{ item.device_imei }}</span></p>
    <p>Model: <span>{{ item.phone_type }}</span></p>
    <p>In stock:
    {% if item.in_stock %}
        <span>Yes</span>
    {% else %}
        <span>No</span>
    {% endif %}</p>
    <p>Sales type: <span>{{ item.sales_type }}</span></p>
    <p>Contract number: <span>{{ item.contract_no }}</span></p>
    <p>Entry date: <span>{{ item.entry_date }}</span></p>
    <p>Stock out date: <span>{{ item.stock_out_date }}</span></p>
    <p>Assigned:
    {% if item.assigned %}
        <span>Yes</span>
    {% else %}
        <span>No</span>
    {% endif %}</p>
</div>
{% endfor %}
{% endblock %}