{% extends 'base.html' %}
{% block content %}
<p>Go to: <span><a href="{% url 'in_stock' %}">Stock In</a></span></p>
{% for item in stock_out %}
<div class="data-card">
    <p>Device Imei: <span>{{ item.imei_number }}</span></p>
    <p>Model: <span>{{ item.phone_type }}</span></p>
    <p>Assigned on: <span>{{ item.collection_date }}</span></p>
    <p>Sold on: <span>{{ item.stock_out_date }}</span></p>
    <p>Contract No:
    <span>{% if item.contract_number and item.sales_type == 'Loan' %}
        {{ item.contract_number }}
    {% elif not item.contract_number and item.sales_type == 'Cash' %}
        {{ item.contract_number}}
    {% else %}
            <form action="" method="post" class="contract_number_form">
                {% csrf_token %}
                <input type="text" name="contract_number" placeholder="add contract number" maxlength="8" minlength="8" pattern="[A]{1}[0-9]{7}" required>
                <input type="hidden" name="imei_number" value="{{ item.imei_number }}">
                <button type="submit" class="contract_number-btn" onclick="save_contract_number()">save</button>
            </form>
    {% endif %}</span>
    </p>
</div>
{% endfor %}
{% endblock %}