{% extends "base.html" %}
{% block content %}
<section class="sign_up_form">
    <div>
        <button type="submit"><a href="#profile-section">Profile</a></button>
        <button type="submit"><a href="{% url 'change_password' %}">Change password</a></button>
    </div>
    <div class="userprofile">
        <h2>Profile Information</h2>
        <p>Email: {{ user.email }}</p>
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Phone Number: {{ user.phone_number }}</p>
        <!-- Add more fields as needed -->
    </div>
        <div class="form_container" id="profile-section">
            <h2>Edit Profile</h2>
            <form method="post" class="sign_up" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ profile_form.first_name }}
                    <label for="{{ profile_form.first_name.id_for_label }}">Enter your first name:</label>
                </div>
                <div class="form-group">
                    {{ profile_form.last_name }}
                    <label for="{{ profile_form.last_name.id_for_label }}">Enter your Last name:</label>
                </div>
                <div class="form-group">
                    {{ profile_form.phone_number }}
                    <label for="{{ profile_form.phone_number.id_for_label }}">Enter your phone number:</label>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
</section>
{% endblock %}