{% extends 'users/admin_sites/main.html' %}
{% load static %}
{% load plus_r %}
{% block head %}
<script type="module" src="{% static 'scripts/sales_summary.js' %}" defer></script>
<script type="module" src="{% static 'scripts/sales_summary_charts.js' %}" defer></script>
<script type="module" src="{% static 'scripts/data_output_summary.js' %}" defer></script>
<script src="{% static 'scripts/daily_update_sales.js' %}" defer></script>
{% endblock %}
{% block content %}
<style>
    label {
        display: none;
    }

    form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
</style>
<div class="container common-bg" style="padding: 5px;">
    <h1 class="text-center fs-3 fw-bold">Sales and Stock Summary</h1>
    <p class="text-center fs-5 fw-bold">Please use the filter below</p>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger" role="status" id="loader">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <form method="get" id="filter_form">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
<section class="charts_by_chartjs">
    <div class="row gy-3">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Overall Daily Sales</h4>
                </div>
                <div class="card-body">
                    <div class="loading-message-main-stock"></div>
                    <canvas class="overall_daily_sales" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">Daily Sales for <span class="id_name"></span></h4>
                </div>
                <div class="card-body">
                    <canvas class="daily_sales" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="charts_by_chartjs">
    <div class="row gy-3">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>monthly sales for <span class="id_name"></span></h4>
                </div>
                <div class="table-container" style="height: 340px; overflow-y: auto;">
                    <table class="table table-striped" id="sales_table">
                        <thead style="position: sticky; top: 1px; background-color: azure;">
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="sales_table_body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">Monthly sales for <span class="id_name"></span></h4>
                </div>
                <div class="card-body">
                    <canvas class="monthly_sales" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="charts_by_chartjs">
    <div class="row gy-3">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>available stock for <span class="id_name"></span></h4>
                </div>
                <div class="table-container" style="height: 340px; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead style="position: sticky; top: 1px; background-color: azure;">
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="stock_table_body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Stock summary for <span class="id_name"></span></h4>
                </div>
                <div class="card-body">
                    <div class="loading-message-main-stock"></div>
                    <canvas class="stock" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container" id="stock_table_container" style="height: 430px; overflow-y: auto;">
</div>
{% endblock %}