{% extends 'users/admin_sites/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <h1 class="text-center fw-bold">Add To Stock</h1>
    <p class="text-center">Please enter the Imei numbers and the phone name to add to stock</p>
    <hr>
    <form action="" method="post" class="shadow-lg p-3 mb-5 bg-body rounded" id="stock_form">
        {% csrf_token %}
        {{ form.as_p }}
        <datalist id="phone_list">
            {% for phone in phone_names %}
            <option value="{{ phone }}">{{ phone }}</option>
            {% endfor %}
        </datalist>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock %}