{% extends 'users/admin_sites/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/loading-message.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <div class="loading-target"></div>
    <h1 class="text-center fw-bold text-light">Add Appliances</h1>
    <p class="text-center fw-bold text-light">Please enter the Appliance name and the quantity to add to stock</p>
    <a href="{% url 'add_to_stock' %}" class="btn common-bg">Add Phones</a>
    <a href="{% url 'add_accessaries' %}" class="btn common-bg">Add Accessaries</a>
    <hr>
    <form action="" method="post" class="bg-dark shadow-lg p-3 mb-5 rounded">
        {% csrf_token %}
        <p>
            <label for="item" class="text-light fw-bold">Appliance Name:</label>
            <input type="text" name="appliance_name" class="form-control bg-dark text-light" placeholder="Enter Appliance Name / item"
            list="name_list", id="item">
        </p>
        <datalist id="name_list">
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </datalist>
        <p>
            <label for="model" class="fw-bold text-light">Model:</label>
            <input type="text" name="model" class="form-control bg-dark text-light" placeholder="Enter model"
            list="model_list" id="model">
        </p>
        <datalist id="model_list">
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </datalist>
        <p>
            <label for="quantity" class="fw-bold text-light">Quantity:</label>
            <input type="number" name="quantity" class="form-control bg-dark text-light" placeholder="Enter quantity"
            min="0">
        </p>
        <p>
            <label for="id_cost_price" class="fw-bold text-light">Cost price:</label>
            <input type="number" name="cost_price" class="form-control bg-dark text-light" placeholder="Enter cost price"
            id="id_cost_price" min="0">
        </p>
        <button type="submit" class="btn btn-primary" id="submit">submit</button>
    </form>
</div>
{% endblock %}