{% extends 'users/admin_sites/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<script src="{% static 'scripts/airtel_data_query.js' %}" defer></script>
<script src="{% static 'scripts/admin_metrics.js' %}" defer></script>
<script type="module" src="{% static 'scripts/metric_render.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-between bg-dark" style="padding: 10px;">
    <form action="" method="post" class="d-flex position-relative search-form text-light">
        {% csrf_token %}
        <input type="search" id="search_term" name="search_query" class="form-control me-2"
        placeholder="filter the specific promoter here" aria-label="Search" aria-describedby="search-addon"
        list="promoters">

        <datalist id="promoters">
            {% for promoter in promoters %}
                <option value="{{ promoter.first_name }} {{ promoter.last_name }}">
            {% endfor %}
        </datalist>
    </form>
    <button id="defualtfilter" class="btn common-bg">Reset defualt</button>
    <button id="metrics" class="btn common-bg">Metrics</button>
</div>
<br>
<div class="d-flex justify-content-center">
    <div class="spinner-border text-warning" role="status" id="loader">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<br>
<div class="container" id="container">
    {% bootstrap_messages %}
    <div class="table-responsive">
        <table class="table table-dark table-hover table-striped table-bordered
        table-sm" id="airtelDevicesTable">
            <thead>
                <tr>
                    <th scope="col">Promoter</th>
                    <th scope="col">Total Devices</th>
                    <th scope="col">In Stock</th>
                    <th scope="col" style="background-color: blue;">MIFI</th>
                    <th scope="col" style="background-color: purple;">IDU</th>
                    <th scope="col">Tody's Collection</th>
                    <th scope="col">Within due date</th>
                    <th scope="col">Overdue</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<style>

    table {
        text-align: center;
        border-radius: 10px;
        scrollbar-width: none;
    }

</style>
{% endblock %}
