{% extends 'users/admin_sites/main.html' %}
{% load static %}
{% load plus_r %}
{% block head %}
<script src="{% static 'scripts/deploy.js' %}" defer></script>
{% endblock %}
{% block content %}
<style>
  .card {
    height: 400px;
    overflow-y: scroll;
  }
</style>
<div class="container">
  <h1 class="text-center fw-bold">Dispatch Stock: Total <span  id="total"></span></h1>
  <p class="text-center">Scan or enter imei numbers to deploy, Choose Date and Destination</p>
  <hr>
  <form action="" method="post">
    <p id="token" style="display: none;">{% csrf_token %}</p>
    <div class="form-group custom-form-group">
      <label for="data" class="fw-bold common-color">Enter Or scan imei Numbers Here</label>
      <input type="text" name="data" id="data" class="form-control" autofocus required minlength="15" maxlength="15">
      <br>
      <h4 class="fw-bold common-color">Deployment Details</h4>
      <div class="d-flex justify-content-between w-100">
        <div class="w-25">
          <label for="date" class="fw-bold common-color">Choose Date</label>
          <input type="date" name="date" id="date" class="form-control w-100">
        </div>
        <select name="agent" id="agent" class="form-control w-25">
          <option value="">Select Agent</option>
          {% for agent in agents %}
          <option value="{{ agent }}">{{ agent }}</option>
          {% endfor %}
        </select>
        <button type="button" class="btn common-bg" id="deploy">Deploy</button>
      </div>
    </div>
  </form>
</div>
<br>
<hr>
<div class="container" id="waiting-room">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="loading"></div>
        <div class="card-header">
          <h4 class="card-title text-center fw-bold">Scanned Items</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}