{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/admin_sects_display.css' %}">
    <link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/loading-message.css' %}">
    <script src="{% static 'scripts/data_charts.js' %}" defer></script>
    <script src="{% static 'scripts/auto_submit_filter.js' %}" defer></script>
    <script src="{% static 'scripts/copyCode.js' %}" defer></script>
    <script src="{% static 'scripts/stocks_stats.js' %}" defer></script>
    <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block header %}
    <!-- Custom header content for Template 1 -->
    <div class="topbar">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <span class="menu"><i class='bx bx-menu'></i></span>
    </div>
    <nav class="heading">
        <div class="logo">HE</div>
        <div class="brandname">Hafeez Enterprise</div>
        <ul class="navigation">
            <li><a href="{% url 'home_page' %}"><i class='bx bxs-home'></i> Home</a></li>
            <li><a href="{% url 'products' %}"><i class='bx bxl-product-hunt'></i> Products</a></li>
            <li><a href="{% url 'services' %}"><i class='bx bxl-stripe'></i> Services</a></li>
            <li><a href="{% url 'admin:index' %}"><i class='bx bxs-dashboard'></i> Admin Dashboard</a></li>
        </ul>
        <ul class="admin-drop-menu">
            <li><a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
            <li><a href="{% url 'users' %}"><i class='bx bxs-user-detail'></i> Users</a></li>
            <li><a href="{% url 'main_storage' %}"><i class='bx bxs-data'></i> Main Stock</a></li>
            <li><a href="#"><i class='bx bxs-data'></i> My Stock</a></li>
            <li><a href="{% url 'agents_and_data' %}"><i class='bx bx-group'></i> Agents</a></li>
            <li><a href="#"><i class='bx bx-group'></i> Customers</a></li>
        </ul>
        {% if avatar.image %}
            <button type="submit" class="profile"><img src="{{ avatar.image.url }}" alt=""></button>
        {% else %}
            <button type="submit" class="profile">{{ profile }}</button>
        {% endif %}
        <ul class="mobile-set" style="display: none;">
            <li class="settings"><a href="{% url 'profile' %}"><i class='bx bx-cog' ></i> Settings</a></li>
            <li><a href="{% url 'sign_out' %}"><i class='bx bx-log-out'></i> Sign Out</a></li>
        </ul>
    </nav>
    {% block sidebar %}
    <din class="sidebar-containter">
        <nav>
            <a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i></a>
            <a href="{% url 'users' %}"><i class='bx bx-group'></i></a>
            <a href="{% url 'main_storage' %}"><img src="{% static 'images/warehouse-alt.svg' %}" alt=""></i></a>
            <a href="#"><i class='bx bxs-data'></i></a>
            <a href="{% url 'agents_and_data' %}"><img src="{% static 'images/employee.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'images/customer.png' %}" alt="" srcset=""></a>
        </nav>
    </din>
    {% endblock %}
{% endblock %}
{% block content %}
    <!-- Custom content for Template 1 -->
    <div class="main-analysis-container">
        <div class="summary-container">
            <div class="agent_code">
                <p>Agent Sign Up Code:</p>
                <div class="text-to-copy">{{ agent_code }}</div>
                <a href="#"><button class="copy-button">Copy</button></a>
                <a href="{% url 'generate_agent_code' %}"><button type="submit">generate new code</button></a>
            </div>
            <div class="daily_sales">
                <div class="description">
                    <h3>Daily Sales</h3>
                    <a href="#">Full Analysis</a>
                </div>
                <div class="loading-message-daily"></div>
                <canvas class="daily_sales_chart" aria-label="chart" height="350"></canvas>
            </div>
            <div class="weekly_sales">
                <div class="description">
                    <h3>Weekly Sales</h3>
                    <a href="#">Full Analysis</a>
                </div>
                <div class="loading-message-weekly"></div>
                <canvas class="Weekly_sales_chart" aria-label="chart" height="350"></canvas>
            </div>
            <div class="agent_sales">
                <div class="description">
                    <h3>Sales by agent Monthly</h3>
                    <a href="#">Full Analysis</a>
                </div>
                <div class="loading-message-monthly"></div>
                <canvas class="sales_by_agent_chart" aria-label="chart" height="350"></canvas>
            </div>
            <div class="all_agents_stock">
                <div class="description">
                    <h3>In stock</h3>
                    <a href="{% url 'agents_and_data' %}">Full Analysis</a>
                </div>
                <div class="loading-message-stock"></div>
                <div class="all_agents_stock_chart"></div>
            </div>
            <div class="shop_stock">
                <div class="description">
                    <h3>Main Shop Stock</h3>
                    <a href="#">Full Analysis</a>
                </div>
                <div class="loading-message-shop"></div>
                <div class="main_stock_chart"></div>
            </div>
            <div class="payment">
                <h3>payments Analysis</h3>
            </div>
            <div class="pending">
                <h3>Pending Payments</h3>
            </div>
            <div class="projects">
                <h3>Untraceable Transactions</h3>
            </div>
            <div class="projects">
                <h3>Monthly Profit</h3>
            </div>
            <div class="projects">
                <h3>Monthly Loss</h3>
            </div>
            <div class="projects">
                <h3>Total Active Customers</h3>
            </div>
            <div class="projects">
                <h3>Total loans</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <!-- Custom footer content for Template 1 -->
        <div class="footer-content-custom">
            <div class="footer-logo">
                <h2>Hafeez Enterprise</h2>
                <p>Your Trusted Phone Retailer</p>
                <div class="social-icons">
                    <!-- Add social media icons and links here -->
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-whatsapp'></i></a>
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
            <div class="footer-links">
                <h2>Products</h2>
                <ul>
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h2>Support</h2>
                <ul>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                </ul>
            </div>
            <div class="foot-links">
                <h2>Legal</h2>
                <ul>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                </ul>
            </div>
    </div>
    <div class="footer-bottom-custom">
        <p>&copy; 2023 Hafeez Enterprise. All rights reserved.</p>
    </div>
{% endblock %}