{% extends 'users/admin_sites/main.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<style>
    label {
        display: none;
    }

    form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
</style>
<div class="container">
    <form method="get" id="filter_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<section class="charts_by_chartjs">
    <div class="row gy-3">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>{{ user }} Stock</h4>
                </div>
                <div class="table-container" style="height: 430px; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead style="position: sticky; top: 1px; background-color: azure;">
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in stock %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Stock analytics</h4>
                </div>
                <div class="card-body">
                    <div class="loading-message-main-stock"></div>
                    <canvas class="main_stock_detailed_analysis" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<p class="text-start">Total:  {{ total }}</p>
<script>
    let ctx = $('.main_stock_detailed_analysis').get(0).getContext('2d');
    var data = {
        labels: [{% for item in stock %}"{{ item.0 }}", {% endfor %}],
        datasets: [{
            label: 'Number of Sales',
            data: [{% for item in stock %}{{ item.1 }}, {% endfor %}],
            backgroundColor: ["#23435c"],
            borderColor: ["#23435c"],
            borderWidth: 1
        }]
    };
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            events: ["mousemove"],
            interaction: {
                mode: "nearest",
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Stock Analysis',
                    color: 'navy',
                    position: 'bottom',
                    align: 'center',
                    font: {
                        weight: 'bold'
                    },
                    padding: 8,
                    fullSize: true,
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false,
                        drawBorder: false,
                    },
                    ticks: {
                        color: "navy",
                        font: {
                            weight: 'bold'
                        },
                    },
                },
                y: {
                    grid: {
                        display: false,
                        drawBorder: false,
                    },
                    ticks: {
                        color: "navy",
                        font: {
                            weight: 'bold'
                        },
                    },
                },
            },

        }
    });
</script>

{% endblock %}