{% load static %}
{% load plus_r %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base_header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
    <link rel="stylesheet" href="{% static 'styles/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sections.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/admin_sects_display.css' %}">
    <link rel="stylesheet" href="{% static 'styles/products_layout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <script src="{% static 'scripts/navigation.js' %}" defer></script>
    <script src="{% static 'scripts/placeholders.js' %}" defer></script>
    <script src="{% static 'scripts/data_updates.js' %}" defer></script>
    <script src="{% static 'scripts/sign_up_guide.js' %}" defer></script>
    <script src="{% static 'scripts/data_intake_guide.js' %}" defer></script>
    <script src="{% static 'scripts/auto_submit_filter.js' %}" defer></script>
    <script src="{% static 'scripts/copytext.js' %}" defer></script>
    <script src="{% static 'scripts/data_charts.js' %}" defer></script>
    <title>{% block title %}Hafeez{% endblock %}</title>
    <!-- Common CSS and JavaScript files -->
    {% endblock %}
</head>
<body>
    <button class="scroll-back"><i class='bx bxs-up-arrow-square'></i></button>
    <div class="loader"></i></div>
    <div id="notification" class="notification"></div>
    <header>
        {% block header %}
        <!-- Custom header content for Template 1 -->
        <div class="topbar">
            <div class="logo">HE</div>
            <div class="brandname">Hafeez Enterprise</div>
            <span class="menu"><i class='bx bx-menu'></i></span>
        </div>
        <nav class="heading">
            <div class="logo">HE</div>
            <div class="brandname">Hafeez Enterprise</div>
            <ul class="navigation">
                <li><a href="{% url 'home_page' %}"><i class='bx bxs-home'></i> Home</a></li>
                <li><a href="{% url 'products' %}"><i class='bx bxl-product-hunt'></i> Products</a></li>
                <li><a href="{% url 'services' %}"><i class='bx bxl-stripe'></i> Services</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}"><i class='bx bxs-contact'></i> Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
                {% endif %}
            </ul>
        {% if user.is_authenticated %}
            {% if avatar.image %}
                <button type="submit" class="profile"><img src="{{ avatar.image.url }}" alt=""></button>
            {% else %}
                <button type="submit" class="profile">{{ profile }}</button>
            {% endif %}
            <ul class="mobile-set" style="display: none;">
                <li class="settings"><a href="{% url 'profile' %}"><i class='bx bx-cog' ></i> Settings</a></li>
                <li><a href="{% url 'sign_out' %}"><i class='bx bx-log-out'></i> Sign Out</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="{% url 'sign_in' %}"><i class='bx bx-log-in'></i> Sign In</a></li>
                <li><a href="{% url 'sign_up' %}"><i class='bx bx-log-in-circle'></i> Sign Up</a></li>
            </ul>
        {% endif %}
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        {% endblock %}
    </header>
        <div class="content">
            {% block content %}
            <section id="products" class="products">
                <!-- Product showcase here -->
                <span class="category-btn" ><i class='bx bx-category' data-tooltip="Categories"></i></span>
                <article class="Categories">
                    <h2>Categories <span class="Categories-icon"><i class='bx bx-chevrons-down bx-fade-down'></i></span></h2>
                    <ul class="Categories-menu">
                        <a href="#itel"><li>Itel</li></a>
                        <a href="#tecno"><li>Tecno</li></a>
                        <a href="#infinix"><li>Infinix</li></a>
                        <a href="#redmi"><li>Redmi</li></a>
                    </ul>
                </article>
                <div class="Categories-extended">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                          <div class="numbertext"></div>
                          <img src="{% static 'media/images/ad1.jpeg' %}">
                          <div class="text"></div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext"></div>
                          <img src="{% static 'media/images/ad2.jpeg' %}">
                          <div class="text"></div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext"></div>
                          <img src="{% static 'media/images/ad3.jpeg' %}">
                          <div class="text"></div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="{% static 'media/images/ad4.jpeg' %}">
                            <div class="text"></div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="{% static 'media/images/ad5.jpeg' %}">
                            <div class="text"></div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="{% static 'media/images/ad6.jpeg' %}">
                            <div class="text"></div>
                        </div>
                    </div>
                        <br>
                    <div style="text-align:center">
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span>
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                    </div>
                    {% for category, products_list in products.items %}
                    {% if products_list %}
                    <article class="Itel" id="{{ category }}">
                        <h1>{{ category }}</h1>
                        <div class="items">
                            {% for product in products_list %}
                            <div class="item">
                                <div class="item-img">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                                <div class="item-details">
                                    <h3>{{ product.name }}</h3>
                                    {% for price in prices %}
                                        {% if price.phone == product.phone_type %}
                                            <p>Price: <span class="price">{{ price.cash_price|format_price }} Cash</span></p>
                                        {% endif %}
                                    {% endfor %}
                                    <p>RAM: <span>{{ product.spec|plus_r }}GB</span></p>
                                    <p>ROM: <span>{{ product.spec|rom }}GB</span></p>
                                    <p>Screen: <span class="screen_d">{{ product.screen_size }}</span></p>
                                    <p>Camera: <span>{{ product.camera }}</span></p>
                                    <p>Battery: <span>{{ product.battery }}</span></p>
                                    <p>OS: <span>{{ product.os }}</span></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>

            <section id="About">
                <!-- Loan and Cash Options content here -->
            </section>

            <!-- Contact Us Section -->
            <section id="contact">
                <!-- Contact information and form here -->

            </section>
            {% endblock %}
        </div>
        <footer class="footer">
            {% block footer %}
            <div class="footer-content">
                    <div class="footer-logo">
                        <h2>Hafeez Enterprise</h2>
                        <p>Your Trusted Phone Retailer</p>
                        <div class="social-icons">
                            <!-- Add social media icons and links here -->
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                    <div class="footer-links">
                        <h2>Products</h2>
                        <ul>
                            <li><a href="#">Phones</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h2>Support</h2>
                        <ul>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="foot-links">
                        <h2>Legal</h2>
                        <ul>
                            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                        </ul>
                    </div>
            </div>
            <div class="foot-bottom">
                <p>&copy; 2023 Hafeez Enterprise. All rights reserved.</p>
            </div>
            {% endblock %}
        </footer>
        <script src="{% static 'scripts/spinner.js' %}"></script>
</body>
</html>