.airtel_mifi_agents {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.airtel_mifi_agents .user_cards {
    width: 25%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

.user_cards .new_sales {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 11px;
    color: rgb(8, 164, 8, 0.8);
}

@media screen and (max-width: 50rem) {
    .airtel_mifi_agents {
        width: 100%;
        flex-wrap: wrap;
    }

    .airtel_mifi_agents .user_cards {
        width: 100%;
    }
}