/* FILEPATH: /home/cryptics-core-based/Hafeez_management_system/system_core_1/static/styles/footer.css */
/* Footer container */
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.footer .footer-content > div {
    margin: 10px;
}

.footer .footer-content-custom {
    background-color: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer .footer-bottom-custom {
    background-color: #f8f8f8;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    padding: 8px;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Footer links */
.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

/* Footer links on hover */
.footer a:hover {
    color: #666;
}

/* Footer text */
.footer p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

/* Footer social icons */
.footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer i {
    font-size: 25px;
    color: #666;
}

/* Footer social icons on hover */
.footer-content .social-icons a:hover {
    transform: scale(1.2);
}


/* Media queries */
@media screen and (max-width: 50rem) {
    .footer {
        width: 100%;
        margin: 0px;
    }

    .footer .footer-content {
        width: 100%;
        justify-content: flex-start;
    }

    .footer .footer-content-custom {
        width: 100%;
        margin-left: 0px;
        justify-content: flex-start;
    }

    .footer .footer-bottom-custom {
        width: 100%;
        margin-left: 0px;
    }
}
