{% extends 'users/branches/main.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h1 class="text-center fw-bold">Sales Register</h1>
        <p class="text-center fw-bold">Please select the payment method Below</p>
    </div>
    <hr>
    <div class="shadow-lg p-3 mb-5 bg-body rounded d-flex justify-content-center">
        <button type="button" class="btn common-bg w-25 fw-bold"
        data-bs-toggle="modal" data-bs-target="#viewCashModal">Cash</button>
    </div>

    <div class="modal fade" id="viewCashModal" tabindex="-1" aria-labelledby="viewCashModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewCashModalLabel">Cash Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="shadow-lg p-3 mb-5 bg-body rounded d-flex flex-column justify-content-center">
                        {% csrf_token %}
                        <label for="id_date">Date Sold</label>
                        <input type="date" name="date" class="form-control" required>
                        <br>
                        <input type="hidden" name="payment_method" value="Cash">
                        <label for="price" class="form-label">Enter the Price</label>
                        <input type="number" name="price" id="price" class="form-control">
                        <br>
                        <button type="submit" class="btn common-bg w-100 fw-bold">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}