{% extends 'users/branches/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-light">
    <div class="container">
        {% bootstrap_messages %}
        <form action="{% url 'stock_out' %}" method="post" class="d-flex w-100">
            {% csrf_token %}
            <input type="search" class="form-control me-2 bg-secondary" name="search_term" id="search_term" placeholder="Device IMEI, category, model etc">
            <button class="btn search-btn material-icons" type="submit">search</button>
        </form>
    </div>
</nav>
<br>
<div class="container filters">
    <form action="{% url 'stock_out' %}" method="post" id="filters_form">
        {% csrf_token %}
        <div>
            {{ form.month }}
        </div>
        <div>
            {{ form.year }}
        </div>
    </form>
</div>
<br>
{% if sales %}
<p class="text-center fs-3 fw-bold common-bg">Stock Out Summary | Total: {{ total }}</p>
<div class="container">
    <div class="row g-3">
        {% for item in sales %}
        <div class="col-md-6 col-lg-4">
            <div class="card {% if item.sales_type == 'Cash' %} border-danger {% else %} border-success {% endif %} shadow">
                <div class="card-body">
                    <p class="card-title text-muted text-center fw-bold">{{ item.name }} - {{ item.category }}</p>
                    <p class="card-text"><strong class="text-info">IMEI:</strong> <span>{{ item.device_imei }}</span></p>
                    <p class="card-text"><strong class="text-info">Spec:</strong> <span>{{ item.spec }}</span></p>
                    <p class="card-text"><strong class="text-info">Date Collected:</strong> <span>{{ item.collected_on }}</span></p>
                    <p class="card-text"><strong class="text-info">Date Sold:</strong> <span>{{ item.stock_out_date }}</span></p>
                    <p class="card-text"><strong class="text-info">Sales Type:</strong> <span class="badge {% if item.sales_type == 'Cash' %} bg-danger {% else %} bg-success {% endif %}">{{ item.sales_type }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-warning text-center" role="alert">
        No sales found
    </div>
</div>
{% endif %}
<br>
<div class="pagination container-fluid w-100 d-flex justify-content-center">
    <span class="step-links w-100 d-flex justify-content-around">
        {% if sales.has_previous %}
            <a href="?page=1&month={{ request.GET.month }}&year={{ request.GET.year }}" class="btn btn-sm common-bg">first</a>
            <a href="?page={{ sales.previous_page_number }}&month={{ request.GET.month }}&year={{ request.GET.year }}" class="btn common-bg btn-sm">previous</a>
        {% endif %}
        <span class="current fw-bold">
            Page {{ sales.number }} of {{ sales.paginator.num_pages }}.
        </span>
        {% if sales.has_next %}
            <a href="?page={{ sales.next_page_number }}&month={{ request.GET.month }}&year={{ request.GET.year }}" class="btn common-bg btn-sm">next</a>
            <a href="?page={{ sales.paginator.num_pages }}&month={{ request.GET.month }}&year={{ request.GET.year }}" class="btn common-bg btn-sm">last</a>
        {% endif %}
    </span>
</div>

<style>
    #filters_form {
        display: flex;
        justify-content: center;
    }

    #filters_form div {
        margin: 0 10px;
        width: 100px;
    }

    .header_t {
        margin: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
</style>
<script>
    $(document).ready(function() {
        const form = $("#filters_form");
        const monthField = $("#id_month");
        const yearField = $("#id_year");

        function submitForm() {
            const month = monthField.val();
            const year = yearField.val();
            window.location.href = `?month=${month}&year=${year}`;
        }

        monthField.on("change", submitForm);
        yearField.on("change", submitForm);
    });
</script>
{% endblock %}