{% extends 'users/branches/main.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
<link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
</div>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <form action="{% url 'data_search' %}" method="post" class="d-flex w-100">
            {% csrf_token %}
            <input type="search" class="form-control me-2" name="search_query"
            id="search" placeholder="Device IMEI, category, model etc" autofocus>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<div class="container text-center">
    <button class="btn common-bg fw-bold" data-bs-toggle="modal" data-bs-target="#accessarySalesModal">Accessary</button>
    <button class="btn common-bg fw-bold" data-bs-toggle="modal" data-bs-target="#applianceSalesModal">Appliance</button>
    <button class="btn common-bg fw-bold" data-bs-toggle="modal" data-bs-target="#refurbishedDeviceSalesModal">Refurbished</button>
</div>
<br>

<div class="row d-flex justify-content-center">
    {% if data %}
        {% for item in data %}
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header  text-center">
                    <h4 class="card-title">{{ item.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong class="text-info">Assigned To:</strong> <span>{{ item.agent }}</span></p>
                    <p class="card-text"><strong class="text-info">Entry Date:</strong> <span>{{ item.entry_date }}</span></p>
                    <p class="card-text"><strong class="text-info">Collected On:</strong> <span>{{ item.stock_out_date }}</span></p>
                    <p class="card-text"><strong class="text-info">Category:</strong> <span>{{ item.category }}</span></p>
                    <p class="card-text"><strong class="text-info">Name:</strong> <span>{{ item.name }}</span></p>
                    <p class="card-text"><strong class="text-info">Model:</strong> <span>{{ item.phone_type }}</span></p>
                    <p class="card-text"><strong class="text-info">Device IMEI:</strong> <span>{{ item.device_imei }}</span></p>
                    {% if item.device_imei_2 %}
                        <p class="card-text"><strong class="text-info">Device IMEI 2:</strong> <span>{{ item.device_imei_2 }}</span></p>
                    {% endif %}
                    <p class="card-text"><strong class="text-info">Spec:</strong> <span>{{ item.spec }}</span></p>
                    <p class="card-text"><strong class="text-info">In Stock:</strong>
                        {% if item.in_stock %}
                            <span class="material-icons text-success">
                                done
                            </span>
                        {% else %}
                            <span class="material-icons text-danger">
                                close
                            </span>
                        {% endif %}
                    </p>
                    {% if not item.in_stock and item.sold %}
                        <p class="card-text"><strong class="text-info">Sold:</strong>
                            {% if item.sold %}
                                <span class="material-icons text-success">
                                    done
                                </span>
                            {% else %}
                                <span class="material-icons text-danger">
                                    close
                                </span>
                            {% endif %}
                        <p class="card-text"><strong class="text-info">Sales Type:</strong> <span>{{ item.sales_type }}</span></p>
                        {% if item.sales_type == 'Loan' %}
                        <p class="card-text"><strong class="text-info">Contract No:</strong> <span>{{ item.contract_no }}</span></p>
                        {% endif %}
                        <p class="card-text"><strong class="text-info">Sold Date:</strong> <span>{{ item.stock_out_date }}</span></p>
                        <p class="card-text"><strong class="text-info">Deployed:</strong>
                            <span class="material-icons text-success">
                                done
                            </span>
                        </p>
                    {% else %}
                        <p class="card-text"><strong class="text-info">Deploy:</strong>
                            <span>
                                <a href="{% url 'combinedData_collection' data_id=item.id %}">
                                    <span class="material-icons">
                                        send
                                    </span>
                                </a>
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="text-center">
        <h2 class="fs-6 text-center text-danger fw-bold">Not Found</h2>
    </div>
    {% endif %}
</div>

<!-- Accessary Sales Modal -->
<div class="modal fade" id="accessarySalesModal" tabindex="-1" aria-labelledby="accessarySalesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title" id="accessarySalesLabel">Accessary Sales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'accessary_sales' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <label for="item" class="fw-bold">Accessary Name:</label>
                        <input type="text" name="item" class="form-control" list="item_list_ac" required>
                    </p>
                    <datalist id="item_list_ac">
                        {% for item_ac in names_ac %}
                        <option value="{{ item_ac }}">{{ item_ac }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="model" class="fw-bold">Model:</label>
                        <input type="text" name="model" class="form-control" list="model_list_ac" required>
                    </p>
                    <datalist id="model_list_ac">
                        {% for model_ac in models_ac %}
                        <option value="{{ model_ac }}">{{ model_ac }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="quantity" class="fw-bold">Quantity:</label>
                        <input type="number" name="quantity" class="form-control" min="0" required>
                    </p>
                    <p>
                        <label for="id_selling_price" class="fw-bold">Selling price:</label>
                        <input type="number" name="selling_price" class="form-control" min="0" required>
                    </p>
                    <button type="submit" class="btn common-bg w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Appliance Sales Modal -->
<div class="modal fade" id="applianceSalesModal" tabindex="-1" aria-labelledby="applianceSalesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title" id="applianceSalesLabel">Appliance Sales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'appliance_sales' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <label for="name" class="fw-bold">Appliance Name:</label>
                        <input type="text" name="name" class="form-control" list="item_list_ap" required>
                    </p>
                    <datalist id="item_list_ap">
                        {% for item_ap in names_ap %}
                        <option value="{{ item_ap }}">{{ item_ap }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="model" class="fw-bold">Model:</label>
                        <input type="text" name="model" class="form-control" list="model_list_ap" required>
                    </p>
                    <datalist id="model_list_ap">
                        {% for model_ap in models_ap %}
                        <option value="{{ model_ap }}">{{ model_ap }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="quantity" class="fw-bold">Quantity:</label>
                        <input type="number" name="quantity" class="form-control" min="0" required>
                    </p>
                    <p>
                        <label for="id_selling_price" class="fw-bold">Selling price:</label>
                        <input type="number" name="selling_price" class="form-control" min="0" required>
                    </p>
                    <button type="submit" class="btn common-bg w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Refurbished Device Sales Modal -->
<div class="modal fade" id="refurbishedDeviceSalesModal" tabindex="-1" aria-labelledby="refurbishedDeviceSalesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title" id="refurbishedDeviceSalesLabel">Refurbished Device Sales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'refarbished_sales' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <label for="name" class="fw-bold">Device Name:</label>
                        <input type="text" name="name" class="form-control" list="item_list" required>
                    </p>
                    <datalist id="item_list">
                        {% for item in names_rd %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="model" class="fw-bold">Model:</label>
                        <input type="text" name="model" class="form-control" list="model_list" required>
                    </p>
                    <datalist id="model_list">
                        {% for model in models_rd %}
                        <option value="{{ model }}">{{ model }}</option>
                        {% endfor %}
                    </datalist>
                    <p>
                        <label for="quantity" class="fw-bold">Quantity:</label>
                        <input type="number" name="quantity" class="form-control" min="0" required>
                    </p>
                    <p>
                        <label for="id_selling_price" class="fw-bold">Selling price:</label>
                        <input type="number" name="selling_price" class="form-control" min="0" required>
                    </p>
                    <button type="submit" class="btn common-bg w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

