{% extends 'users/admin_sites/main.html' %}
{% block content %}
<section class="agents_stock">
    <table class="stock-table main-stock-table">
        <caption>Users</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Last login</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.last_login }}</td>
                    {% if user.is_staff %}
                    <td>Admin</td>
                    {% else %}
                        <td>Agent</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% for user in users %}
<div class="data-card">
    <p>Username: <span>{{ user.username }}</span></p>
    <p>Email: <div>{{ user.email }}</div><v/p>
    <p>First Name: <span>{{ user.first_name }}</span></p>
    <p>Last Name: <span>{{ user.last_name }}</span></p>
    <p>Role:
    {% if user.is_staff %}
        <span>Admin</span>
    {% else %}
        <span>Agent</span>
    {% endif %}</p>
</div>
{% endfor %}
{% endblock %}