.mobile-display, .data-card {
    display: none;
}

@media screen and (max-width: 50rem) {
    .mobile-display {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .mobile-display .in_stock,
    .mobile-display .stock_out {
        width: 100%;
        border: 1px solid gray;
        margin: 20px auto;
        padding: 5px;
    }
    
    .mobile-display  h2 {
        width: 100%;
        background-color: #747a79;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    
    }
    
    .mobile-display p,
    .data-card p,
    .data-card div {
        font-size: 1.2rem;
        margin: 12px auto;
        font-weight: bold;
        padding-left: 12px;
    }
    
    .mobile-display div, .data-card{
        position: relative;
    }
    
    .mobile-display span,
    .data-card span {
        position: absolute;
        right: 1rem;
    }
    
    .mobile-display a button {
        width: 100%;
        background-color: #0a9c89;
        font-size: 1.2rem;
        padding: 5px 0px;
        font-weight: bold;
    }

    .mobile-display a button:hover {
        background-color: #23435c;
    }

    .data-card {
        display: block;
        width: 100%;
        border: 1px solid gray;
        margin: 20px;
        border-radius: 8px;
    }
}
